<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 4/16/2024, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>FIRST PARAGRAPH BAHAHAHAHAHHAHAAHH</p>
        </article>

        <article>
            <time>published: 4/20/2024, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>SECOND POST</p>
        </article>
    </body>
</html>